@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --red: #ff0000;
  --blue: #00ffff;
  --yellow: #ffb300;
  --white: #ffffff;
  --black: #000000;
}

@keyframes fun {
  0% {
    color: var(--yellow);
  }

  50% {
    color: var(--blue);
  }

  100% {
    color: var(--red)
  }
}




/* style.css */
body {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  background-color: #111;
  margin: 0;
  overflow: hidden;
  font-family: 'Press Start 2P';

}

h2 {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.text-white {
  color: var(--white)
}

.text-blue {
  color: var(--blue);
}

.text-red {
  color: var(--red)
}

.text-yellow {
  color: var(--yellow)
}

.text-fun {
  -webkit-animation: fun 1s infinite;
}

.pt-md {
  padding-top: 10px;
}


.label {
  /* font-family: 'VT323', monospace; */
  font-family: "Press Start 2P", system-ui;
  /* 8-bit style for "Your Score" */
  color: var(--blue);
  font-size: 20px;
  margin-right: 20px;
  text-align: center;
  line-height: 24px;
  text-shadow: 0 0 10px var(--blue), 0 0 20px var(--blue), 0 0 30px var(--blue);
}

.label-sm {
  font-family: "Press Start 2P", system-ui;
  color: #bcbcbc;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  font-size: 25px;
  text-align: center;
}

.caption {
  font-family: "Press Start 2P", system-ui;
  font-size: 13px;
  color: #888;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  margin-top: -15px;
  display: block;
}

.header {
  font-family: 'Audiowide', sans-serif;
  /* Retro arcade style for SKEE-BALL */
  font-size: 36px;
  position: relative;
  text-align: center;
}

.text-h2 {
  /* font-family: 'VT323', monospace; */
  font-family: "Press Start 2P", system-ui;
  font-size: 65px;
  text-align: center;
}

.text-h3 {
  /* font-family: 'VT323', monospace; */
  font-family: "Press Start 2P", system-ui;
  font-size: 45px;
  text-align: center;
}

.text-h4 {
  /* font-family: 'VT323', monospace; */
  font-family: "Press Start 2P", system-ui;
  font-size: 35px;
  text-align: center;
}


.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.grid {
  display: grid;
}

.align-items-center {
  align-items: center
}

.justify-content-center {
  justify-content: center;
}

.gap-1 {
  gap: 1em;
}

.gap-2 {
  gap: 2em;
}

.mt-md {
  margin-top: 2em;
}
.mt-lg {
  margin-top: 4em;
}

.text-center {
text-align: center;
}



input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.skeeball-icon {
  position: absolute;
  left: 10px;
  font-size: 1.5rem;
  pointer-events: none;
}

input {
  /* width: 100%; */
  padding: 10px 10px 10px 40px;
  font-size: 1.2rem;
  border: 2px solid #d35400;
  border-radius: 5px;
  background: linear-gradient(to right, #f39c12, #e74c3c);
  color: white;
  box-shadow: 0 4px 10px rgba(255, 107, 107, 0.5);
  transition: all 0.3s ease;
  outline: none;
  font-family: 'Press Start 2P', cursive;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input:focused {
  border-color: #f1c40f;
  box-shadow: 0 0 15px rgba(241, 196, 15, 0.8);
}


button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1.2rem;
  color: white;
  background: linear-gradient(to right, #f39c12, #e74c3c);
  border: 2px solid #d35400;
  border-radius: 20px;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(255, 107, 107, 0.5);
  transition: all 0.3s ease;
  outline: none;
}

button:hover {
  background: linear-gradient(to right, #f1c40f, #e67e22);
  box-shadow: 0 6px 15px rgba(241, 196, 15, 0.8);
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 3px 8px rgba(255, 107, 107, 0.5);
}


a {
  text-decoration: none;
  color: #fff090;
}

li {
  color: #4FAF44;
}

